# Edit this file with your address and mnemonic secret and copy it to ./.env
# Never share your mnemonic with anyone and do not commit .env files 🙃
VUE_APP_ACCOUNT_ADDRESS=""
VUE_APP_ACCOUNT_MNEMONIC=""
